{% extends 'base.html.twig' %}

{% block title %}Ejercicios{% endblock %}

{% block body %}
    <h1>Apartado 10: Grupos y sus estudiantes</h1>
    <table border="1px">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tutor</th>
            </tr>
        </thead>
        <tbody>
            {% for grupo in grupos %}
                <tr>
                    <td><a href="{{ path('apartado10_alumnado', {'id': grupo.id }) }}">{{ grupo.descripcion }}</a></td>
                    <td>{{ grupo.tutor }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
