{% extends 'base.html.twig' %}

{% block title %}Ejercicios{% endblock %}

{% block body %}
    <h1>Apartado 4: Alumnado con primer apellido Ojeda</h1>
    <table border="1px">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Grupo</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
                <tr>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.apellidos }}</td>
                    <td>{{ alumno.grupo.descripcion }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
