{% extends 'base.html.twig' %}

{% block title %}Ejercicios{% endblock %}

{% block body %}
    <h1>Apartado 6: Alumnado nacido en 1997</h1>
    <h2>Hay un total de {{ num_alumnos }} nacidos en 1997</h2>
{% endblock %}
